body {
    margin:0px;
    padding:0px;
    background-color:black;
}
.header {
    background-color:black;
    position:fixed;
    z-index:5;
    width:100%;
    height:75px;
    position:fixed;
}
.header-left {
    float:left;
    font-size:35px;
    color:white;
    position:relative;
    top:25%;
    margin-left:20px;
}
.header-right {
    color:white;
    position:relative;
    top:25%;
    font-size:15px;
    float:right;
    margin-right:50px;
    
}
.login {
    display:inline-block;
    background-color:#ffd000;
    padding:10px 15px;
    cursor:pointer;
}
.register {
    display:inline-block;
    border-style:solid;
    border-width:1px;
    border-color:white;
    padding:9px 14px;
    cursor:pointer;
}
.header2 {
    padding-top:100px;
    height:75px;
    text-align:center;
    background-color:#ffd000;
    font-size: 40px;
    color:white;
    font-weight:bold;
}
.wrapper1 {
    text-align:center;
    padding-top:50px;
    text-decoration: blanchedalmond;
    color: cornsilk;
    text-size-adjust:10px;

}
.container {
    padding:40px 150px;
    text-align:center;
   
}
.food-block {
    float:left;
    border-style:ridge;
    border-color:cornsilk;
    border-width:10px;
    width:30%;
    margin-inline-start:10px;
    margin-inline-end:10px;
    color: cornsilk;
    z-index:1;

    

}
.food-block:hover{
 transform: scale3d(1.2,1.2,2);
 transform: translateZ(5);


}

